h1.page-title{margin:-5px 0 10px 0}
#site-navi, .navigationRow{clear:none;height:auto;margin:-40px 0 0 220px;max-width:none;min-width:10px;padding:0}
h2.srchhelpHeader{clear:both;display:block;float:none;margin:20px 0 0 !important;padding:30px 0 10px 0;width:100%;}
.navigationRow a{background-image:none!important}
a #newSearch{padding:0 0 0 37px;border:none;width:0px;overflow:hidden}
.searchTipTable td{border-bottom-color:#ccc!important}